@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    /*--bg-color: #1F1F1F; */
    --bg-color: blue;
    --light-color: #F2F2F2;
    --darker-light: #CBCBCB;
    --accent-normal: #06C9F9;
    --accent-brighter: #38D4FA; 
}

body {
    background-color: var(--bg-color);
    font-family: Lexend;
}

.navbar {
    background-color: var(--bg-color);
    padding: 0.75rem;
    font-size: 1.5rem;
    color: --light-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-logo, .nav-container {
    margin: 0 4rem 0 4rem;
}

.nav-container {
    display: flex;
    gap: 4rem;
}

a {
    text-decoration: none;
    color: var(--light-color)
}

.nav-links{
    color: var(--light-color)
}

.nav-links:hover {
    color: var(--accent-normal);
}

#dot-logo, #dot-about, #dot-projects, #dot-contacts {
    color: var(--accent-normal);
    font-size:2rem;
}

.spacer-nav {
    height: 4rem;
}

.hero-section {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-img, .hero-text{
    margin-left: 2rem;
    margin-right: 2rem;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}

h1 {
    font-size: 2.25rem;
}

#name {
    color: var(--light-color)
}

#profession {
    color: var(--accent-normal)
}

.button {
    background-color: var(--accent-normal);
    color: var(--bg-color);
    font-family: inherit;
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: var(--accent-brighter);
    cursor: pointer;
    transition: 0.2s;
}

.button:active {
    background-color: var(--accent-normal);
    transition: 0.2s;
}

.project-section {
    margin-top: 6.25rem;
    display: flex;
    justify-content: center;
}

.project-image, .project-text {
    margin-left: 2rem;
    margin-right: 2rem;
}

.project-image {
    width: 400px;
    height: 300px;
    border: solid var(--darker-light) 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#geoparty-image{
    background-color: #3c6d79;
}

#flashcard-app-image {
    background-color: #1E2127;
}

.project-text {
    width: 30rem;
}

.links {
    color: var(--accent-normal);
    font-size: 1rem;
    text-decoration: underline;
}

.project-heading {
    margin: 0;
    color: var(--light-color)
}

.project-description {
    color: var(--darker-light);
    font-size: 1rem;
    line-height: 1.5rem;
}