<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/mediaqueries.css">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.svg">
</head>
<body>
    <nav id="desktop-nav">
            <div class="nav-logo">
                <a class="nav-links" href="/">
                    <div><span>Thomas</span><span id="dot-logo">.</span></div>
                </a>
            </div>
            <div class="nav-container">
                <ul class="nav-links">
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
    </nav>
    <nav id="hamburger-nav">
        <div class="nav-logo">
            <a class="nav-links" href="/">
                <div><span>Thomas</span><span id="dot-logo">.</span></div>
            </a>
        </div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <li><a href="/projects" onclick="toggleMenu()">Projects</a></li>
                <li><a href="/About" onclick="toggleMenu()">About</a></li>
            </div>
        </div>
    </nav>
    <div class="spacer-nav"></div>
    <div class="project-section">
        <div class="project-image">
            <img src="/assets/about.JPEG" height="300">
        </div>
        <div class="project-text">
            <div class="project-description">
                <p>My name is Thomas, a mechanical engineer turned software developer. I have a masters degree in mechanical engineering and 6 years of experience working high-level motorsport, designing performance suspension systems and working with metal additive manufacturing. </p>
                <p>I have experience in Python, Golang and JavaScript, as well as basic HTML and CSS. I am currently learning SQL to implement robust and definitely over-engineered databases for my personal projects!</p>
            </div>
        </div>
    </div>
</body>
</html>