<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>About</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="nav-logo">
                <a class="nav-links" href="/"><span>Thomas</span><span id="dot-logo">.</span></a>
            </div>
            <div class="nav-container">
                <a class="nav-links" href="/projects">Projects</a>
                <a class="nav-links" href="/about">About</a>
            </div>
        </div>
    </nav>
    <div class="spacer-nav"></div>
    <div class="project-section">
        <div class="project-image" id="geoparty-image">
            <img src="/assets/about.JPEG" height="300">
        </div>
        <div class="project-text">
            <div class="project-description">
                <p>My name is Thomas, a mechanical engineer turned software developer. I have a masters degree in mechanical engineering and 6 years of experience working high-level motorsport, designing performance suspension systems and working with metal additive manufacturing. </p>
                <p>I have experience in Python, Golang and JavaScript, as well as basic HTML and CSS. I am currently learning SQL to implement robust and definitely over-engineered databases for my personal projects!</p>
            </div>
        </div>
    </div>
</body>
</html>