<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Contact</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="nav-logo">
                <a class="nav-links" href="/"><span>Thomas</span><span id="dot-logo">.</span></a>
            </div>
            <div class="nav-container">
                <a class="nav-links" href="/projects">Projects</a>
                <a class="nav-links" href="/about">About</a>
                <a class="nav-links" href="/contact">Contact</a>
            </div>
        </div>
    </nav>
    <h1>Hello, Contact!</h1>
    <a href="/">Home</a>
</body>
</html>