<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/mediaqueries.css">
    <title>Thomas Herstad</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.svg">
</head>
<body>
    <nav id="desktop-nav">
            <div class="nav-logo">
                <a class="nav-links" href="/">
                    <div><span>Thomas</span><span id="dot-logo">.</span></div>
                </a>
            </div>
            <div class="nav-container">
                <ul class="nav-links">
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
    </nav>
    <nav id="hamburger-nav">
        <div class="nav-logo">
            <a class="nav-links" href="/">
                <div><span>Thomas</span><span id="dot-logo">.</span></div>
            </a>
        </div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <li><a href="/projects" onclick="toggleMenu()">Projects</a></li>
                <li><a href="/About" onclick="toggleMenu()">About</a></li>
            </div>
        </div>
    </nav>
    <div class="hero-section">
        <div class="hero-img">
            <img class="logo-img" src="/assets/logo.svg" height="200px">
        </div>
        <div class="hero-text">
            <h1 id="name">Thomas</h1>
            <h2 id="profession">Software Developer</h2>
            <button type="button" class="button" onclick=document.location.href="/projects">Projects</button>
            <div class="social-links">
               <img src="/assets/github-mark-white.svg" alt="GitHub Logo" onclick=location.href="https://github.com/thomasherstad/"> 
               <img src="/assets/icons8-linkedin.svg" alt="LinkedIn Logo" onclick=location.href="https://linkedin.com/in/thomasherstad/">
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>