<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomas Herstad</title>
    <link rel="stylesheet" href="../statics/style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="nav-logo">
                <a class="nav-links" href="./index.html"><span>Thomas</span><span id="dot-logo">.</span></a>
            </div>
            <div class="nav-container">
                <a class="nav-links" href="./projects.html">Projects</a>
                <a class="nav-links" href="./about.html">About</a>
                <a class="nav-links" href="./contact.html">Contact</a>
            </div>
        </div>
    </nav>
    <div class="hero-section">
        <div class="hero-img">
        </div>
        <div class="hero-text">
            <h1 id="name">Thomas</h1>
            <h2 id="profession">Software Developer</h2>
            <button type="button" class="button">Projects</button>
        </div>
    </div>
</body>
</html>